<h1>Instruções para completar seu investimento</h1>
<h2>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </h2>

    render _user_docs

link_to painel_de_controle_path
link_to home

