<% provide(:title, "Proposta de Novo Projeto") %>
<% provide(:meta_desc, "Pedido de inclusão de projeto de investimento para crowdfunding na plataforma Imobank") %>
<% provide(:meta_keywords, "crowdfunding, imobiliário, investimento, cadastro, pedido, inclusão, empreendedor, construtor,") %>
<% provide(:robots, "NOINDEX, NOFOLLOW") %>
<div class="ui main container">
<h1>Instruções para completar seu investimento</h1>
<h2>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </h2>

    render _user_docs

link_to painel_de_controle_path
link_to home

</div>
