<h1>Imobank - Ativar Conta</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem-vindo ao Imobank! Clique no link abaixo para ativar a sua conta:
</p>

<%= link_to "Ativar Conta", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>