<% provide(:title, 'Manual Imobiliário') %>
<% provide(:meta_desc, "Artigos sobre mercado imobiliário, investimento, desenvolvimento e crowdfunding.") %>
<% provide(:meta_keywords, "artigos, blog, manual, opinião, desenvolvimento, incorporação, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "INDEX, FOLLOW") %>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum a accusantium nisi molestiae voluptatum iusto, rerum necessitatibus eligendi sunt maiores enim vel iste ab eos, tenetur doloremque aut velit.

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt quisquam, quidem, architecto hic nulla, dolor recusandae, esse vitae praesentium autem voluptas. Laudantium laborum temporibus in, excepturi nesciunt aspernatur nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nam velit officiis tempore quod cumque ea eum culpa sunt ducimus, cupiditate, laudantium tempora nemo, explicabo fuga incidunt tenetur vero molestiae?</p>

<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quis ipsum culpa quam, molestias aut est numquam deleniti accusamus fugiat et, quod ipsa nam minima quaerat ducimus dignissimos porro? Ad.</h2>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, fugiat ad consequatur, vel fugit ipsa expedita sequi molestiae! Voluptatibus vero dolorum ea harum sunt corporis, placeat eligendi quasi consectetur iusto.
