<% provide(:title, "Atualização de Cadastro") %>
<% provide(:robots, "NOINDEX, NOFOLLOW") %>
<div class="ui main container">
<div class="ui eight wide column">
    <div class="ui header">Atualização de Cadastro</div>
    <div class="ui small header">Verifique seus dados, faça a atualização e clique no botão "Enviar".</div>
    <div class="ui divider"></div>
    <%= render 'form' %>
    <!--
    <%= render 'shared/user_docs' %> -->
</div>
</div>
