<% provide(:title, 'Cadastro de Investidor') %>
    <div class="ui eight wide column">
        <div class="ui header">Cadastro de Investidor</div>
        <div class="ui small header">Preencha o formulário abaixo para dar seu primeiro passo no Imobank.</div>
        <div class="ui divider"></div>
        <%= render 'form' %>
    </div>

    <!--
<div class="ui vertical divider">ou</div>
<div class="ui eight wide column">
    <div class="ui green button">Entrar</div>
    <div class="ui small header">Se já é cadastrado.</div>
</div>
-->
