<% provide(:title, @user.name) %>
<% provide(:robots, "NOINDEX, NOFOLLOW") %>
<div class="ui main container">
<h1>Usuários no sistema</h1>
<p>Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - </p>
<%= @user.name %>, <%= @user.email %>
</div>
