<% provide(:title, @user.name) %>

<h1>Usuários no sistema</h1>
<p>Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -
Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - 
Texto - Texto - Texto - Texto - Texto - </p>
<%= @user.name %>, <%= @user.email %>