<% if @candidate.errors.any? %>
  <div class="ui form error">
    <div class="ui error message">
      O formulário <%= "contém".pluralize(@candidate.errors.count) %> <%= @candidate.errors.count %> <%= "erro".pluralize(@candidate.errors.count) %>.
    
    <ul>
    <% @candidate.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <br>
  </div>
<% end %>