<% if @candidate.errors.any? %>
  <div class="ui form error">
    <div class="ui error message">
      The form contains <%= pluralize(@candidate.errors.count, "error") %>.
    
    <ul>
    <% @candidate.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <br>
  </div>
<% end %>