<div class="ui container">
  <div class="ui header">Modelos de Negócio</div>
  <p>Devido as restrições que a Instrução CVM 400 /2003 impõe para a captação de recursos na modalidade conhecida como "Crowdfunding", o Imobank trabalha com 3 modelos de negócio, cada um com suas características, pontos positivos e negativos, conforme descrito
    na tabela abaixo.</p>
  <br>
  <table class="ui unstackable grey celled table">
    <thead>
      <tr>
        <th class="single line"></th>
        <th>Modelo "A"</th>
        <th>Modelo "B"</th>
        <th>Modelo "C"</th>
        <th>Observação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h2 class="ui left aligned small header">Remuneração</h2>
        </td>
        <td class="single line">
          Variável (Similar ao Empreendedor)
        </td>
        <td class="single line">
          Taxa fixa ou % do VGV
        </td>
        <td class="single line">
          Taxa fixa ou % do VGV
        </td>
        <td>No "% do VGV" o investidor sabe quanto pagou pelo m2, e a rentabilidade irá depender do preço de venda. Na remuneração "variável", os custos e receitas ainda não são conhecidos.</td>
      </tr>

      <tr>
        <td>
          <h2 class="ui left aligned small header">Emissor do título</h2>
        </td>
        <td class="single line">
          SPE do Imobank
        </td>
        <td class="single line">
          SPE do Imobank
        </td>
        <td class="single line">
          Incorporador
        </td>
        <td>SPE: Sociedade de Propósito Específico</td>
      </tr>

      <tr>
        <td>
          <h2 class="ui left aligned small header">Garantia</h2>
        </td>
        <td class="line">
          Participação da SPE no capital social do Empreendimento
        </td>
        <td class="single line">
          Imóvel do empreendimento
        </td>
        <td class="single line">
          Patrimônio do Incorporador
        </td>
        <td></td>
      </tr>

      <tr>
        <td>
          <h2 class="ui left aligned small header">Controle de gestão</h2>
        </td>
        <td class="single line center aligned">
          Alto
        </td>
        <td class="single line center aligned">
          Médio
        </td>
        <td class="single line center aligned">
          Baixo
        </td>
        <td></td>
      </tr>

      <tr>
        <td>
          <h2 class="ui left aligned small header">Custos administrativos</h2>
        </td>
        <td class="single line center aligned">
          Alto
        </td>
        <td class="single line center aligned">
          Médio
        </td>
        <td class="single line center aligned">
          Baixo
        </td>
        <td></td>
      </tr>

      <tr>
        <td>
          <h2 class="ui left aligned small header">Participação do Crowdfunding no Empreendimento</h2>
        </td>
        <td class="single line">
          Mínimo de 51%
        </td>
        <td class="single line">
          Máximo de 40%
        </td>
        <td class="single line">
          Até R$ 2.400.000,00
        </td>
        <td></td>
      </tr>

      <tr>
        <td>
          <h2 class="ui left aligned small header">Principal tipo de empreendimento aplicável</h2>
        </td>
        <td class="line">
          Reformas e Leilões para Revenda
        </td>
        <td class="single line">
          Pequenas construções
        </td>
        <td class="single line">
          Grandes projetos
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">O que é a Instrução CVM 400 / 2003 ?</div>
  <p>É a norma da Comissão de Valores Mobiliários, que em seu artigo 5º autoriza pequenas e médias empresas a realizarem distribuição pública de valores mobiliários (captação de recursos financeiros) com dispensa de registro.</p>
  <p>Esta dispensa reduz a burocracia e altos custos associados ao registro da oferta.</p>
  <p>A instrução é atualmente utilizada para as captações via Crowdfunding no Brasil, limitando o valor da captação até R$ 2.400.000,00 a cada período de 12 meses.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Retorno do investimento</div>
  <p>O investidor poderá receber o retorno do capital investido de maneira períodica ou na conclusão do projeto, dependendo das caracterísiticas de cada oferta.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Prazo</div>
  <p>O prazo varia de acordo com cada projeto. Empreendimentos imobiliários normalmente tem prazo de médio a longa duração, variando de 12 a 48 meses.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Riscos</div>
  <p>O título de investimento será um título de dívida ou um título de dívida conversivel em cotas ou ações, e seus risco está atrelado a possibilidade de pagamento do emissor.</p>
  <p>Caso um empreendimento não seja bem sucedido e o emissor não consiga pagar o título, os seguintes itens são observados:</p>

  <div class="ui bulleted list">
    <div class="item">Readequação do prazo de pagamento</div>
    <div class="item">Execução da garantia</div>
    <div class="item">Processo para recuperação através do patrimônio do emissor</div>
  </div>

  <p>Além da diligência e investigação do Imobank em relação ao projeto e ao empreendedor, diversos documentos são disponibilizados e o investidor deve fazer sua própria análise e ponderação dos riscos envolvidos.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Repasse do investimento</div>
  <p>É possível passar seu título para outro investidor. Cada oferta tem suas características com relação a revenda, podendo o emissor tem prioridade na aquisição do título.</p>
  <br>
</div>
