<div class="ui container">
  <div class="ui header centered large grey", id="pages_header">Modelo de Negócio</div>
  <div class="ui header">Instrução CVM 400/2003</div>
  <p>É a norma da Comissão de Valores Mobiliários, que em seu artigo 5º autoriza pequenas e médias empresas a realizarem distribuição pública de valores mobiliários (captação de recursos financeiros) com dispensa de registro.</p>
  <p>Esta dispensa reduz a burocracia e altos custos associados ao registro da oferta.</p>
  <p>A instrução é atualmente utilizada para as captações via Crowdfunding no Brasil, limitando o valor da captação em até R$ 2.400.000,00 a cada período de 12 meses.</p>
  <br>
  <div class="ui divider"></div>
  <div class="ui header">Remuneração do Investidor</div>
  <p>Conforme participação no projeto. O investidor já sabe qual percentual está adquirindo no momento do investimento. O desenvolvedor já disponibiliza a previsão de custos e a avaliação de mercado para a venda. Assim o investidor tem uma projeção de resultado financeiro, mesmo sendo esta variável.</p>
  <br>
  <div class="ui divider"></div>
  <div class="ui header">Emissor do Título</div>
  <p>A SPE (Sociedade de Propósito Específico) organizada pelo desenvolvedor especificamente para este empreendimento emite o CIC (Contrato de Investimento Coletivo).</p>
  <br>
  <div class="ui divider"></div>
  <div class="ui header">Garantia e Controle de Gestão</div>
  <p>O CIC confere participação do investidor na empresa dona do empreendimento, porém, não existe bens em garantia e o desenvolvedor assume o compromisso de enviar relatórios e demonstrações financeiras e de andamento do projeto periodicamente.</p>
  <br>
  <div class="ui divider"></div>
  <div class="ui header">Custos Administrativos</div>
  <p>A plataforma Imobank recebe 5% do valor captado e Desenvolvedor recebe um valor fixo pela gestão total da obra. Este valor é determinado na proposta de captação, disponibilizado publicamente e não sofre alterações decorrentes do prazo para execução do projeto.</p>
  <br>
  <div class="ui divider"></div>
  <div class="ui header">Tipo de empreendimento</div>
  <p>São aceitos projetos residenciais, comerciais e industriais. O valor máximo de captação por crowdfunding é de R$ 2.400.000,00. O Imobank exige que o desenvolvedor tenha no mínimo 35% de participação no valor total do empreendimento. São aceitos diversos tipos de projeto, desde que tenham viabilidade financeira, jurídica e de mercado.</p>
<p>Alguns exemplos:</p>
<div class="ui bulleted list">
<div class="item">Construção de Residências para venda</div>
<div class="item">Construção de Galpão para venda</div>
<div class="item">Compra de imóvel em leilão para reforma e revenda</div>
<div class="item">Incorporação e construção de edifícios</div>
</div>
  <br>
  <div class="ui divider"></div>
  <div class="ui header">Retorno do investimento</div>
  <p>O investidor poderá receber o retorno do capital investido de maneira períodica ou na conclusão do projeto, dependendo das caracterísiticas de cada oferta.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Prazo</div>
  <p>O prazo varia de acordo com cada projeto. Empreendimentos imobiliários normalmente tem prazo de médio a longa duração, variando de 12 a 48 meses.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Riscos</div>
  <p>O título de investimento será um Certificado de Investimento Coletivo, que confere participação do investidor nos lucros do investimento.</p>
  <p>O risco está atrelado a gestão e sucesso do empreendimento por parte do desenvolvedor. Exigimos que o desenvolvedor tenha um capital mínimo de 35% do valor total do investimento para evitar riscos de agency.</p>
  <p>Além da diligência e investigação do Imobank em relação ao projeto e ao empreendedor, diversos documentos são disponibilizados e o investidor deve fazer sua própria análise e ponderação dos riscos envolvidos.</p>
  <br>
  <div class="ui divider"></div>

  <div class="ui header">Repasse do investimento</div>
  <p>É possível passar seu título para outro investidor. Cada oferta tem suas características com relação a revenda, podendo o emissor tem prioridade na aquisição do título.</p>
  <br>
</div>

<h4 class="ui centered header grey", id="veja_tambem">Veja também:</h4>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
        <%= link_to "Como Funciona para o Desenvolvedor", como_funciona_para_o_construtor_path, :class=>"ui green button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Sobre a Plataforma", sobre_a_plataforma_path, :class=>"ui black button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Como Funciona para o Investidor", como_funciona_para_o_investidor_path, :class=>"ui blue button fluid" %>
    </div>
</div>
