<% provide(:title, 'Sobre o Imobank - Plataforma de Investimento') %>
<% provide(:meta_desc, "O que é o Imobank e quem são as pessoas que gerenciam a plataforma") %>
<% provide(:meta_keywords, "empresa, fundador, gerente, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "NOINDEX, FOLLOW") %>

    <div class="ui grid stackable">
        <div class="ui sixteen wide column"><div class="ui big center aligned header segment">Investimento rentável e tangível viabilizando projetos de qualidade</div></div>
        <div class="ui nine wide column">

            <h1>Sobre o Imobank</h1>
            <p>Lançado em 2016, o Imobank se propõe a viabilizar projetos de desenvolvimento imobiliário conectando o capital dos investidores
            à empreendedores do setor de construção.
            <p>Através da nossa plataforma online, investidores podem verificar informações dos projetos disponíveis, escolher o seu investimento,
            receber seu título de participação e acompanhar a evolução.</p>
            <p>Cuidamos da análise financeira, jurídica e de mercado para oferecer os melhores investimentos.
            </p>
            <h2>Nosso posicionamento</h2>
            <div class="ui bulleted list">
              <div class="item">Oferecer investimentos de boa rentabilidade e com as melhores práticas de arquitetura e urbanismo.</div>
              <div class="item">Possibilitar aos construtores uma fonte de financiamento melhor que oferecido pelo sistema bancário.</div>
              <div class="item">Ter um portifolio de projetos com diversificação regional.</div>
              <div class="item">Estabelecer uma relação de proximidade com nossa comunidade de investidores para que possamos crescer juntos.</div>
            </div>
        </div>

        <div class="ui seven wide column">

                <div class="ui divided items">

                  <div class="item">
                      <div class="content">
                        <br><br><br>
                      <div class="ui header">Qualidade</div>
                      <div class="description">Em todo o processo</div>
                      </div>
                  </div>

                <br>

                  <div class="item">
                      <div class="content">
                        <br>
                      <div class="ui header">Segurança</div>
                      <div class="description">Diligência com o seu investimento</div>
                      </div>
                  </div>

                <br>

                  <div class="item">
                      <div class="content">
                        <br>
                      <div class="ui header">Transparência</div>
                      <div class="description">Disponibilização de todas as informações</div>
                      </div>
                  </div>

                <br>

              </div>
            </div>
        </div>
    </div>

    <div class="ui grid container stackable">
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
            <br>
            <div class="ui huge left aligned header">Quem Somos</div>
        </div>

        <div class="three wide column">
          <%= image_tag "foto1.jpg",  class: "ui small centered image"%>
        </div>

        <div class="eight wide column">
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div class="header">Alain De Marchi</div>
                <div class="meta"><span>CEO / Co-Fundador</span></div>
                <div class="description">
                  <p>Acompanhando o movimento global de Real Estate Crowdfunding e sua expertise no mercado financeiro e de construção, Alain criou o Imobank
                  com a visão de fomentar projetos de desenvolvimento imobiliário e possibilitar a investidores acesso a projetos de investimento antes restrito
                  aos construtores.</p>
                  <p>Antes do Imobank, Alain foi responsável pelo desenvolvimento de produtos e ferramentas financeiras na Bloomberg, Thomson Reuters,
                  trading no Itaú BBA, além de ter atuado como administrador de obras na Odebrecht.</p>
                </div>
              </div>
            </div>
          </div>
        </div>



    <div class="five wide column">
      <div class="ui celled list">
        <div class="ui item"><br><div class="content"><i class="university icon"></i>Universidade de São Paulo - Administração</div></div>
        <br>
        <div class="ui item"><br><div class="content"><i class="student icon"></i>Técnico em Edificações</div></div>
        <br>
        <div class="ui item"><br><div class="content"><i class="marker icon"></i>São Paulo, SP</div></div>
        <br>
        <div class="ui item"><br><div class="content"></div></div>
        <br>
      </div>
    </div>


    <div class="three wide column">
          <%= image_tag "foto1.jpg",  class: "ui small centered image"%>
        </div>

        <div class="eight wide column">
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div class="header">Fabian De Marchi</div>
                <div class="meta"><span>Diretor de Negócios</span></div>
                <div class="description">
                  <p>Acompanhando o movimento global de Real Estate Crowdfunding e sua expertise no mercado financeiro e de construção, Alain criou o Imobank
                  com a visão de fomentar projetos de desenvolvimento imobiliário e possibilitar a investidores acesso a projetos de investimento antes restrito
                  aos construtores.</p>
                  <p>Antes do Imobank, Alain foi responsável pelo desenvolvimento de produtos e ferramentas financeiras na Bloomberg, Thomson Reuters,
                  trading no Itaú BBA, além de ter atuado como administrador de obras na Odebrecht.</p>
                </div>
              </div>
            </div>
          </div>
        </div>



    <div class="five wide column">
      <div class="ui celled list">
        <br><br>
        <div class="ui item"><br><div class="content"><i class="university icon"></i>FAAP - Negócios Imobiliários</div></div>
        <br>
        <div class="ui item"><br><div class="content"><i class="marker icon"></i>São Paulo, SP</div></div>
        <br>
        <div class="ui item"><br><div class="content"></div></div>
        <br>
      </div>
    </div>


    </div>


        <br>
    </div>



    <div class="ui grid container stackable">
    <div class="ui sixteen wide column">
           <div class="ui divider"></div>
           <br>
    <div class="ui huge center aligned header">Porque escolher o Imobank?</div>
   <br>
    </div>
    <div class="ui eight wide column">
        <div class="ui center aligned header">Investidores</div>
        <div class="ui list">
          <div class="item">
            <i class="checkmark icon"></i>
            <div class="content">
              Ter acesso às oportunidades de negócios difícies de encontrar ou acessíveis anteriormente somentes à grandes investidores.
            </div>
          </div>
          <div class="item">
            <i class="checkmark chart icon"></i>
            <div class="content">
                Diversificar seus investimentos em outra classe de ativo
            </div>
          </div>
          <div class="item">
            <i class="checkmark icon"></i>
          <div class="content">
              Economizar tempo investindo com simplicidade e praticidade através da nossa plataforma em projetos analisados por uma equipe experiente.
          </div>
        </div>
    </div>
   </div>

    <div class="eight wide column">
        <div class="ui center aligned header">Empreendedores</div>
            <div class="ui list">
              <div class="item">
                <i class="checkmark icon"></i><div class="content">Acesso ao capital de investidores</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i><div class="content">Processo sem burocracia para captação de recursos</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i><div class="content">Maior velocidade no processo de captação</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i><div class="content">Estabelecer um elo com investidores que poderão ser parceiros muitas vezes.</div>
              </div>
            </div>
    </div>

    <div class="ui five wide column"></div>
    <div class="ui six wide column">
    <br>
    <div class="ui header medium center aligned">Nossa plataforma</div>
    <div class="ui justified segment">
    <p>Nossa plataforma eletrônica conta com avaçanda criptografia, simplicidade para clara visualização dos investimentos e automação para simplificação de processos.
    </p>

    </div>
    <div class="ui divider"></div>
    <br>
    <br>
    </div>
    <div class="ui five wide column"></div>

</div>

<%= render 'business_model_explained' %>
<div class="ui container">
<div class="ui divider"></div>
  <div class="three ui buttons">
  <button class="ui blue button">Investir</button>
  <button class="ui grey button">Trabalhe no Imobank</button>
  <button class="ui green button">Captar recursos</button>
  <br><br>
  </div>

<div class="ui huge center aligned header">Imobank, a plataforma de investimento imobiliário</div>
</div>
