<% provide(:title, "Transferência Bancária do Investimento") %>
<% provide(:meta_desc, "Explicação de como funciona a transferência bancária do investimento crowdfunding") %>
<% provide(:meta_keywords, "transferência, valor, bancária, conta,") %>
<% provide(:robots, "INDEX, FOLLOW") %>

<div class="ui grid container">

<div class="ui vertical segment">
    <h1>Transferência dos recursos financeiros para Investimento</h1>
<br>
</div>
<div class="eight wide column">
<br>
<strong>A transferência do valor a ser investido poderá ser feita através de transferência eletrônica bancária (TED) ou depósito identificado através de agência da rede bancária nacional.</strong>
<br>
<div class="ui vertical segment">
<p>
Logo após o investidor realizar a reserva do investimento em um projeto, receberá as instruções para transferir ou depositar os recursos em conta corrente. O investidor terá dois dias úteis para efetivar a transferência dos recursos. Caso isto não ocorra dentro do prazo, a reserva do investimento será cancelada e a cota disponibilizada na plataforma do Imobank para outro investidor.
</p>
<p>
Em até dois dias úteis após a efetivação da transferência, o investidor poderá acompanhar o seu investimento através da área "Minha Conta/Meus Investimentos" da plataforma Imobank.
</p>
<p>
O título de investimento (dívida ou dívida conversível) será disponibilizado em formato PDF, com assinatura digital do emissor, na plataforma Imobank após a conclusão da captação dos recursos para investimento.
</p>
<p>Caso a transferência ou depósito não conste até a data limite para efetivação da reserva do investimento, notificaremos por e-mail.
</p>
</div>
</div>
</div>
