<% provide(:title, "Modelo de Negócio e captação") %>
<% provide(:meta_desc, "Explicação do modelo de negócio do Imobank - Crowdfunding imobiliário") %>
<% provide(:meta_keywords, "modelo, negócio, business, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "INDEX, FOLLOW") %>
<div class="ui main container">
<%= render 'business_model_explained' %>
</div>
