<% provide(:title, 'Painel de Controle' ) %>
<div class="ui container">

Investidor: nome
CPF: 
Quantidade de Investimentos: <%= @user.investments.count %>
Quantidade de 

Mensagens do administrador Imobank:
if nao

if docs
<%= render 'shared/user_docs' %>


<div class="ui header">Meus Projetos</div>
if nao, não existem projetos até agora

<div class="ui header">Meus Investimentos</div>
<div>
    <% if @user.investments.any? %>
        <table class="ui selectable table">
            <tr class="single line">
            <th>Data</th>
            <th>Projeto</th>
            <th>Valor da Reserva</th>
            <th>Status</th>        
            <th>Valor Investido</th>
        </tr>
              <%= render @investment_list %>
        </table>
    <% end %>    
    
    Else nao tem inv ainda
</div>
</div>