<div class="ui grid container">
<div class="ui vertical segment">
    <h1>Instrução CVM nº 400 / 2003</h1>
<br>

<br>
<strong>O investimento via plataforma Imobank é realizado através de títulos emitidos sob a Instrução nº 400 do ano de 2003 da Comissão de Valores Mobiliários.</strong>
<br>
</div>
<div class="ui vertical segment">
<p>
Abaixo você tem o link para o download do PDF original da instrução, e o link para a página da normal no website da CVM.
</p>
<p>
Em até dois dias úteis após a efetivação da transferência, o investidor poderá acompanhar o seu investimento através da área "Minha Conta/Meus Investimentos" da plataforma Imobank.
</p>
<p>
O título de investimento (dívida ou dívida conversível) será disponibilizado em formato PDF, com assinatura digital do emissor, na plataforma Imobank após a conclusão da captação dos recursos para investimento.
</p>
<p>Caso a transferência ou depósito não conste até a data limite para efetivação da reserva do investimento, notificaremos por e-mail.
</p>
</div>

<div class="ui vertical segment">

<div class="ui header small"><i class="file pdf outline icon"></i>Instrução CVM 400/2003 em formato PDF (Download)</div>

<div class="ui header small"><i class="external icon"></i><%= link_to "Link para a Instrução CVM 400/2003 no website da CVM (Comissão de Valores Mobiliários)", "http://www.cvm.gov.br/legislacao/inst/inst400.html" %>
</div>
</div>
</div>


