<% provide(:title, "Perguntas Frequentes do Construtor") %>
<% provide(:meta_desc, "Perguntas Frequentes dos Empreendedores, Desenvolvedores e Construtores sobre o Imobank") %>
<% provide(:meta_keywords, "FAQ, Perguntas, dúvidas, frequentes, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "INDEX, FOLLOW") %>
<script>
    $(document)
    .ready(function() {
        $('.ui.accordion')
        .accordion();
        $('.ui.secondary.pointing.menu .item').tab();
    });
</script>
<div class="ui main container">

<div class="ui container">
    <h1 class="header"><i class="info circle icon"></i>Desenvolvedores - Perguntas Frequentes</h1>
    <div class="ui divider">
    </div>
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="1">Geral</a>
        <a class="item" data-tab="2">Captação</a>
        <a class="item" data-tab="3">Jurídico-Financeiro</a>
    </div>

    <div class="ui tab active" data-tab="1">
        <div class="ui styled accordion fluid">
            <div class="title"><i class="dropdown icon"></i>O que é o Imobank e como funciona?</div>
            <div class="content"><p>Somos uma plataforma de investimento coletivo (crowdfunding) especializada em construção civil. Nosso objetivo é oferecer a toda comunidade de investidores a oportunidade de investir em projetos imobiliários pré-selecionados. </p><p>Estes tipos de projetos demandam alto valor total investido e acabam sendo realizados normalmente por grandes investidores e corporações. Porém, através do crowdfunding é possível que pequenos investidores tenham acesso às oportunidades e os empreendedores recebem o investimento da mesma forma.</p></div>
            <div class="title"><i class="dropdown icon"></i> Existem taxas pelo serviço do Imobank?</div>
            <div class="content"><p>Resposta 1</p><p>O empreendedor deve pagar um percentual sobre o valor captado ao Imobank pelo serviço de organização da captação, análise e tecnologia da plataforma.</p></div>
            <div class="title"><i class="dropdown icon"></i> Quais tipos de empreendedores podem usar o serviço do Imobank?</div>
            <div class="content"><p>Resposta 1</p><p>Empreendedores de pequeno porte conforme a lei. Isto significa que a empresa deve ser organizada na forma de sociedade limitada e com receita anual até R$ 3.600.000,00.</p></div>
        </div>
    </div>

    <div class="ui tab" data-tab="2">
        <div class="ui styled accordion fluid">
            <div class="title"><i class="dropdown icon"></i> Quanto posso levantar de capital na plataforma?</div>
            <div class="content"><p>O limite estabelecido pela instrução CVM nº 400/03 é de R$ 2.400.000,00 a cada perído de 12 meses.</p></div>
            <div class="title"><i class="dropdown icon"></i> Quanto tempo demora para receber o investimento?</div>
            <div class="content"><p>A captação pode durar até 6 meses. Este prazo é estabelecido entre o Imobank e desenvolvedor de acordo com a situação de mercado no momento. Após o término da captação, o valor é disponibilizado ao desenvolvedor em até uma semana.</p></div>
        </div>
    </div>

    <div class="ui tab" data-tab="3">
        <div class="ui styled accordion fluid">
            <div class="title"><i class="dropdown icon"></i> O Imobank exige algum tipo de controle da operação?</div>
            <div class="content"><p>Não. O Imobank exige a autenticidade de diversos documentos e projetos elaborados de acordo com a lei. Entre as cláusulas do contrato do empreendedor com a plataforma e com os investidores, está a de que o empreendedor deverá enviar relatórios financeiros e de andamento do projeto periodicamente. O controle da gestão e operação é totalmente do empreendedor.</p></div>
            <div class="title"><i class="dropdown icon"></i> Quais documentos devo enviar para inscrever meu projeto?</div>
            <div class="content"><p>O Imobank enviará a lista dos documentos necessários de acordo com o tipo do seu projeto. Entre estes estão detalhes do projeto e certidões do imóvel e do empreendedor.</p></div>
        </div>
    </div>

<h4 class="ui blue center aligned header">PASSO-A-PASSO</h2>

        <div class="ui five stackable steps">
            <div class="step">
                <i class="map outline icon"></i>
                <div class="content">
                    <div class="title">Apresente seu projeto</div>
                    <div class="description">Inscreva-o na plataforma e explique ao nosso gerente de negócios</div>
                </div>
            </div>

            <div class="step">
                <i class="law icon"></i>
                <div class="content">
                    <div class="title">Aguarde o Imobank regularizar a captação</div>
                    <div class="description">Em menos de uma semana</div>
                </div>
            </div>

            <div class="step">
                <i class="users icon"></i>
                <div class="content">
                    <div class="title">Acompanhe o crowdfunding pela plataforma</div>
                    <div class="description">E receba o capital ao final da captação pra iniciar o projeto</div>
                </div>
            </div>

            <div class="step">
                <i class="line chart icon"></i>
                <div class="content">
                    <div class="title">Envie periodicamente os relatórios de andamento</div>
                    <div class="description">Para os investidores acompanharem a evolução</div>
                </div>
            </div>

            <div class="step">
                <i class="flag checkered icon"></i>
                <div class="content">
                    <div class="title">Realize a distribuição dos lucros conforme o contrato</div>
                    <div class="description">Na conclusão do projeto</div>
                </div>
            </div>

        </div>
        <br>



    <br>
    <p><strong>Precisa de mais detalhes?</strong> Entre em contato por e-mail: <%= mail_to "contato@imobank.com.br", class: "item" do %> contato@imobank.com.br <% end %></p>
</div>


<h4 class="ui centered header grey", id="veja_tambem">Veja também:</h4>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
        <%= link_to "Perguntas Frequentes dos Investidores", perguntas_frequentes_do_investidor_path, :class=>"ui blue button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Inscreva seu Projeto", candidates_new_path, :class=>"ui black button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Modelo Jurídico-Financeiro", modelo_de_negocio_path, :class=>"ui green button fluid" %>
    </div>
</div>
</div>
