<div class="ui main relaxed grid container stackable">
        <div class="ui ten wide column">
            <p>IMOBANK - PLATAFORMA DE DESENVOLVIMENTO IMOBILIÁRIO</p>
            <h1>Investimentos em construção, incorporação, leilões e reformas para venda</h1>
            <div class="ui horizontal segments">
                <div class="ui segment">
                    Invista online através da plataforma
                </div>
                <div class="ui segment">
                    Cadastre-se gratuitamente para ter acesso aos detalhes dos projetos
                </div>
                <div class="ui segment">
                    Investimento mínimo de R$ 5.000,00
                </div>
                <div class="ui segment">
                    Títulos emitidos de acordo com a Instrução CVM 400/2003
                </div>
            </div>

        </div>
        <div class="ui three wide column">
            <img src="images/mapa.png" alt="Mapa do Brasil" height="160">
            <p><strong> Acesso à investimentos em todo território nacional</strong></p>
            <button class="ui fluid green button">Abrir Conta</button>
        </div>
        <div class="ui three wide column">
            <img src="images/mortgage.jpg" alt="Casa feita com notas de dolar" height="160">
            <p><strong>Precisa de capital para o seu projeto de construção?</strong></p>
            <button class="ui fluid blue button"> Saiba Mais </button>
        </div>

        <button class="ui circular icon button">
            <i class="circular inverted angle double down big icon"></i>
        </button>
    </div>

    <%= render 'shared/projects_available' %>

    <div class="ui container">
        <h3 class="ui horizontal divider header">
  <i class="spinner chart icon"></i>
  Vantagens de investir via Imobank
</h3>
        <div class="ui equal width grid relaxed stackable">
            <div class="ui column segment stacked">
                <i class="laptop icon huge"></i>
                <h4 class="ui header">Investimento totalmente online</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="checkmark icon huge"></i>
                <h4 class="ui header">Due Dillegence:</br>Análise financeira, jurídica e de viabilidade de mercado feita por profissionais</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="pie chart icon huge"></i>
                <h4 class="ui header">Diversificação de seus investimentos em Real Estate</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="money icon huge"></i>
                <h4 class="ui header">Modelo jurídico financeiro regulado pela CVM (Comissão de Valores Mobiliários)</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="line chart icon huge"></i>
                <h4 class="ui header">Relatórios periódicos da evolução do seu projeto</h4>
            </div>
        </div>



        <h3 class="ui horizontal divider header">
  <i class="angle double right chart icon"></i>
  Processo de Investimento
</h3>
        <div class="ui equal width grid stackable">
            <div class="column">
                <img class="ui fluid image" src="images/p1.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p2.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p3.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p4.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p5.svg">
            </div>
        </div>

        <div class="ui segment piled">
            <h2 class="ui header">Fique informado sobre nossas oportunidades de investimento no Imobank</h2>
            <div class="ui action input">
                <input type="email" placeholder="Seu e-mail">
                <button class="ui red labeled icon button">

                    <i class="mail icon"></i> Inscrever
                </button>

            </div>
        </div>
    </div>