<div class="ui main relaxed grid container stackable">
        <div class="ui ten wide column">
            <p>IMOBANK - PLATAFORMA DE DESENVOLVIMENTO IMOBILIÁRIO</p>
            <h1>Investimentos em construção, incorporação, leilões e reformas para venda</h1>
            <div class="ui horizontal segments">
                <div class="ui segment">
                    Invista online através da plataforma
                </div>
                <div class="ui segment">
                    Cadastre-se gratuitamente para ter acesso aos detalhes dos projetos
                </div>
                <div class="ui segment">
                    Investimento mínimo de R$ 5.000,00
                </div>
                <div class="ui segment">
                    Títulos emitidos de acordo com a Instrução CVM 400/2003
                </div>
            </div>

        </div>
        <div class="ui three wide column">
            <img src="images/mapa.png" alt="Mapa do Brasil" height="160">
            <p><strong> Acesso à investimentos em todo território nacional</strong></p>
            <button class="ui fluid green button">Abrir Conta</button>
        </div>
        <div class="ui three wide column">
            <img src="images/mortgage.jpg" alt="Casa feita com notas de dolar" height="160">
            <p><strong>Precisa de capital para o seu projeto de construção?</strong></p>
            <button class="ui fluid blue button"> Saiba Mais </button>
        </div>

        <button class="ui circular icon button">
            <i class="circular inverted angle double down big icon"></i>
        </button>
    </div>

    <div class="ui main relaxed container stackable">
        <h3 class="ui horizontal divider header">
    <i class="bar database icon"></i>
    Projetos em captação  </h3>

        <div class="ui card">
            <div class="image">
                <img src="images/minimall.png">
            </div>
            <div class="content">
                <a class="header">Mini Mall</a>
                <div class="meta">
                    <span class="date">Rodovia Rio-Santos, Ubatuba, SP</span>
                </div>
                <div class="description">
                    <p>Desenvolvimento e construção</p>
                    <p>5 lojas, 12 vagas de estacionamento</p>
                    <p>Terreno em garantia</p>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui grid">
                    <div class="ui twelve wide column">
                        <p>Oferta de investimento</p>
                        <h5>R$ 900.000</h5>
                    </div>
                    <div class="ui four wide column">
                        <p>Taxa</p>
                        <h5>22%</h5>
                    </div>
                </div>

            </div>
            <div class="extra content">
                <a>
                    <div class="ui tiny green active progress" data-percent="32" id="projeto1">
                        <div class="bar"></div>
                        <div class="label">32% Captado</div>
                    </div>
                </a>
            </div>
            <div class="extra content">
                <a>
                    <button id=botaoprojeto class="ui blue button">Ver Detalhes</button>
                </a>
            </div>
        </div>
    </div>

    <div class="ui container">
        <h3 class="ui horizontal divider header">
  <i class="spinner chart icon"></i>
  Vantagens de investir via Imobank
</h3>
        <div class="ui equal width grid relaxed stackable">
            <div class="ui column segment stacked">
                <i class="laptop icon huge"></i>
                <h4 class="ui header">Investimento totalmente online</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="checkmark icon huge"></i>
                <h4 class="ui header">Due Dillegence:</br>Análise financeira, jurídica e de viabilidade de mercado feita por profissionais</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="pie chart icon huge"></i>
                <h4 class="ui header">Diversificação de seus investimentos em Real Estate</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="money icon huge"></i>
                <h4 class="ui header">Modelo jurídico financeiro regulado pela CVM (Comissão de Valores Mobiliários)</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="line chart icon huge"></i>
                <h4 class="ui header">Relatórios periódicos da evolução do seu projeto</h4>
            </div>
        </div>



        <h3 class="ui horizontal divider header">
  <i class="angle double right chart icon"></i>
  Processo de Investimento
</h3>
        <div class="ui equal width grid stackable">
            <div class="column">
                <img class="ui fluid image" src="images/p1.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p2.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p3.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p4.svg">
            </div>
            <div class="column">
                <img class="ui fluid image" src="images/p5.svg">
            </div>
        </div>

        <div class="ui segment piled">
            <h2 class="ui header">Fique informado sobre nossas oportunidades de investimento no Imobank</h2>
            <div class="ui action input">
                <input type="email" placeholder="Seu e-mail">
                <button class="ui red labeled icon button">

                    <i class="mail icon"></i> Inscrever
                </button>

            </div>
        </div>
    </div>