<% provide(:title, "Como funciona para o Investidor") %>
<% provide(:meta_desc, "Como funciona o negócio para Investidores") %>
<% provide(:meta_keywords, "funcionamento, modelo, dúvidas, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "INDEX, FOLLOW") %>

<script>
    $(document)
    .ready(function() {
        $('.step.navegue')
        .popup({
            on    : 'hover',
            title   : 'Investimentos pré-selecionados',
            content : 'Acesso aos documentos, projeções, fatores de risco e outras informações relevantes.',
            transition: 'slide up',
            addTouchEvents: 'true',
            variation: 'wide inverted',
            position: 'top center'
        });
        $('.step.invista')
        .popup({
            on    : 'hover',
            title   : 'Título assinado digitalmente',
            content : 'Procedimento regulado pela CVM (Comissão de Valores Mobiliários).',
            transition: 'slide up',
            addTouchEvents: 'true',
            variation: 'wide inverted',
            position: 'top center'
        });
        $('.step.monitore')
        .popup({
            on    : 'hover',
            title   : 'Relatórios periódicos ',
            content : 'Até a conclusão do empreendimento no painel de controle do Imobank.',
            transition: 'slide up',
            addTouchEvents: 'true',
            variation: 'wide inverted',
            position: 'top center'
        });
    });
</script>

<div class="ui main container stackable">
    <h2 class="ui center aligned header", id="pages_header">Como funciona para Investir</h2>
    <%= image_tag "crowdfunding-startup-financing.jpg", class: "ui medium centered image" %>
    <h4 class="ui centered header blue">Processo de Investimento</h4>
    <div class="ui five stackable steps">
        <div class="step navegue">
            <i class="browser icon"></i>
            <div class="content">
                <div class="title">Navegue pelos Projetos Disponíveis</div>
                <div class="description">Veja os detalhes e escolha</div>
            </div>
        </div>
        <div class="step invista">
            <i class="laptop icon"></i>
            <div class="content">
                <div class="title">Invista Online</div>
                <div class="description">Cadastro simples e transferência eletrônica para conta bloqueada</div>
            </div>
        </div>
        <div class="step monitore">
            <i class="bar chart icon"></i>
            <div class="content">
                <div class="title">Monitore o Desempenho</div>
                <div class="description">Progresso da obra e relatórios financeiros</div>
            </div>
        </div>
    </div>
    <br>

<div class="ui container">
    <br>

    <h2 class="ui centered header", id="vantagens_header">Vantagens de investir via Imobank</h2>
</br>
<div class="ui equal width grid stackable", id="vantagens_steps">
    <div class="ui column center aligned">
        <i class="laptop icon huge"></i>
        <h4 class="ui header">Investimento totalmente online</h4>
    </div>
    <div class="ui column center aligned">
        <i class="checkmark icon huge"></i>
        <h4 class="ui header">Análise financeira, jurídica e de viabilidade mercadológica feita por profissionais</h4>
    </div>
    <div class="ui column center aligned">
        <i class="pie chart icon huge"></i>
        <h4 class="ui header">Diversificação de seus investimentos em Real Estate</h4>
    </div>
    <div class="ui column center aligned">
        <i class="money icon huge"></i>
        <h4 class="ui header">Modelo jurídico financeiro regulado pela CVM (Comissão de Valores Mobiliários)</h4>
    </div>
    <div class="ui column center aligned">
        <i class="line chart icon huge"></i>
        <h4 class="ui header">Relatórios periódicos da evolução do seu projeto</h4>
    </div>
</div>
</div>



<h4 class="ui centered header grey", id="veja_tambem">Veja também:</h4>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
        <%= link_to "Perguntas Frequentes dos Investidores", perguntas_frequentes_do_investidor_path, :class=>"ui blue button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Projetos Disponíveis", projects_path, :class=>"ui red button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Modelo Jurídico-Financeiro", modelo_de_negocio_path, :class=>"ui grey button fluid" %>
    </div>
    </div>

</div>
