<% provide(:title, "Como funciona para o Investidor") %>
<% provide(:meta_desc, "Como funciona o negócio para Investidores") %>
<% provide(:meta_keywords, "funcionamento, modelo, dúvidas, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "INDEX, FOLLOW") %>

<div class="ui main container stackable">
    <h2 class="ui center aligned block header">Como funciona o IMOBANK para Investidores</h2>
    <h4 class="ui teal center aligned header">Segurança e transparência em todo o processo</h2>

    <div class="ui basic segment">
        <h3 class="ui left aligned header">1. Cadastro online simplificado</h3>
        <div class="content">O cadastro é sem compromisso de investimento e habilita o usuário a ver todos os detalhes dos projetos.</div>
    </div>

    <div class="ui divider"></div>

    <div class="ui basic segment">
        <h3 class="ui left aligned header">2. Analise e escolha entre os projeto disponíveis</h3>
        <div class="content">Os projetos em captação no Imobank já foram analisados e selecionados pela nossa equipe.</div>
        <div class="content">O investidor pode ver todos os documentos, informações e análises online.</div>
    </div>

    <div class="ui divider"></div>

    <div class="ui basic segment">
        <h3 class="ui left aligned header">3. Investimento</h3>
        <div class="content">Após a reserva, o investidor deverá enviar alguns documentos digitalizados e transferir os recursos para a conta indicada em até 2 dias úteis.</div>
        <div class="content">Acompanhe a validação dos seus investimentos através do menu "Minha Conta/Meus Investimentos" do Imobank.</div>
    </div>

    <div class="ui divider"></div>

    <div class="ui basic segment">
        <h3 class="ui left aligned header">4. Receba o título de investimento</h3>
        <div class="content">O investidor terá acesso aos seu título em formato PDF assinado digitalmente pelo emissor.</div>
        <div class="content">Caso a captação não atinja o objetivo. O Investidor receberá o valor na conta indicada no seu cadastro.</div>
    </div>

    <div class="ui divider"></div>

    <div class="ui basic segment">
        <h3 class="ui left aligned header">5. Acompanhe a evolução do projeto e receba os pagamentos</h3>
        <div class="content">Pelo website do Imobank, o investidor recebe relatórios periódiocos do andamento do projeto e acompanha o retorno do investimento.</div>
    </div>

    <div class="ui divider"></div>

    <div class="ui basic segment">
        <h3 class="ui left aligned header">6. Conclusão do Projeto</h3>
        <div class="content">Após o fim do projeto e dos pagamentos, o título é extinto.</div>
    </div>

</div>
