<div class="ui container">
    <h2 class="ui center aligned block header">Como funciona o IMOBANK para Empreendedores</h2>
    <h4 class="ui blue center aligned header">PASSO-A-PASSO</h2>
    
    <div class="ui basic segment">
        <h3 class="ui left aligned header">1. Apresente o projeto ao Imobank</h3>
        <div class="content">Inscreve rapidamente seu projeto pela plataforma para que nossa equipe se prepare para oferecer a melhor solução para a sua captação.</div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="ui basic segment">
        <h3 class="ui left aligned header">2. Aguarde o Imobank analisar o seu projeto</h3>
        <div class="content">Analisaremos a viabilidade de mercado, financeira e o histórico da empresa e seus sócios.</div>
        <div class="content">Você poderá esclarecer suas dúvidas com nosso gerente de novos negócios e apresentaremos a melhor opção jurídico-financeira.</div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="ui basic segment">
        <h3 class="ui left aligned header">3. Prepare-se para preencher e fornecer a documentação para oficializar sua captação pela plataforma.</h3>
        <div class="content">Nesta fase ocorre a regularização de garantias oferecidas e a documentação necessária para o registro da oferta ao público.</div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="ui basic segment">
        <h3 class="ui left aligned header">4. Após a autorização publicada pela CVM, iniciamos a captação financeira pela plataforma.</h3>
        <div class="content">O Imobank fará a divulgação, a gestão de todo o processo e a comunicação com os investidores.</div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="ui basic segment">
        <h3 class="ui left aligned header">5. Término da captação pelo Imobank.</h3>
        <div class="content">Caso sua meta de recursos financeiros seja atingida, você pode iniciar o projeto e cuidaremos da emissão dos títulos de investimento.</div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="ui basic segment">
        <h3 class="ui left aligned header">6. Mantenha o contato com o Imobank e realize os pagamentos aos investidores</h3>
        <div class="content">O Imobank enviará os relatórios de status do projeto e informará sobre o retorno do investimento, simplificando para o empreendedor.</div>
    </div>
    
</div>