<% provide(:title, "Parceiros da Plataforma") %>
<% provide(:meta_desc, "Quem são os parceiros da plataforma") %>
<% provide(:meta_keywords, "parceiros, arquitetos, engenheiros, desenvolvedores, incorporadores, construtores, advogados, corretores,") %>
<% provide(:robots, "INDEX, FOLLOW") %>

<div class="ui container">
    <h1 class="ui header center aligned", id="pages_header">Junte-se ao Imobank!</h1>
    <div class="ui divider"></div>
    <div class="ui equal width grid stackable">
        <div class="ui column">
            <div class="ui basic red segment">
                <h3 class="ui center aligned icon header"><i class="circular marker icon"></i>Proprietários</h3>
                <div class="meta"><span><strong>Terrenos e Construções</strong></span></div>
                <div class="description"><p>Analisaremos os melhores projetos e modelos de investimento para o desenvolvimento do seu imóvel.</p></div>
            </div>
        </div>

        <div class="ui column">
            <div class="ui blue basic segment">
                <h3 class="ui center aligned icon header"><i class="circular comments icon"></i>Corretores</h3>
                <div class="meta"><span><strong>Soluções que geram negócios</strong></span></div>
                <div class="description"><p>Sua rede de relacionamento tem sinergias com nossa plataforma. O Imobank pode solucionar a burocracia financeira que impede a realização do negócio.</p></div>
            </div>
        </div>

        <div class="ui column">
            <div class="ui green basic segment">
                <h3 class="ui center aligned icon header"><i class="circular users icon"></i>Arquitetos e Construtores</h3>
                <div class="meta"><span><strong>Desenvolvimento Imobiliário</strong></span></div>
                <div class="description"><p>São as essência dos negócios do Imobank. Seus projetos e a execução da obra são o que geram valor aos nossos investidores.</p></div>
            </div>
        </div>

        <div class="ui column">
            <div class="ui yellow basic segment">
                <h3 class="ui center aligned icon header"><i class="circular legal icon"></i>Advogados</h3>
                <div class="meta"><span><strong>Direito Imobiliário</strong></span></div>
                <div class="description"><p> Especialistas em Direito Imobiliário em todo o terrotório nacional podem colaborar com atuação regional.</p></div>
            </div>
        </div>

    </div>
    <div class="ui divider"></div>
    <h4 class="ui center aligned header", id="pages_header">Aguardamos seu contato em:</h4>
    <h2 class="ui center aligned header red", id="pages_end">parceiros@imobank.com.br</h2>
</div>
