<% provide(:title, "Termos de Uso") %>
<% provide(:meta_desc, "Termos de Uso da Plataforma") %>
<% provide(:meta_keywords, "plataforma, termos, uso, condições, detalhes,") %>
<% provide(:robots, "INDEX, NOFOLLOW") %>

<h1>Termos do Serviço</h1>
<br>
<strong>Atualizado em 23 de Agosto de 2016</strong>
<br>
<div class="ui vertical segment">
  <h2>Conteúdo:</h2>
  <span>1. Processo de Registro</span></br>
  <span>2. Conteúdo e uso do website</span></br>
  <span>3. Notificações e Comunicação</span></br>
  <span>4. Projetos de Investimento</span></br>
  <span>5. Remuneração da Plataforma</span></br>
  <span>6. Responsabilidades da Plataforma</span></br>
  <span>7. Lei Aplicável e Jurisdição</span></br>
  <br>
</div>
<div class="ui vertical segment">
  <p>Nos reservamos o direito de alterar estes “Termos de Uso” eventualmente. Caso alguma mudança relevante ou nas partes legais e administrativas seja realizada, avisaremos comantecência os usuários cadastrados.</p>
  <p>Você aceita que poderemos notificá-lo através de nosso sistema sobre estas atualizações e que a continuidade de seu uso após estas atualizações significa que você concorda com estes termos. Você deve ler estes termos antes de utilizar o serviço da plataforma (website) Imobank.</p>
  <p>Imobank é um website que facilita o investimento por realizado por investidores, pessoas físicas ou jurídicas, em projetos imobiliários. O Imobank.com.br é controlado pela Imobank Ltda. ME (“Imobank”, “Nós”, “Nos”, “Nosso”, “a Plataforma”, “o website”). Este website deve ser utilizado somente para negócios e comunicações dentro da lei. Toda mensagem postada por usuários e suas informações poderá ser entregue às autoridades caso seja solicitado.</p>
  <p>O Imobank disponibiliza acesso à investimentos de desenvolvedores imobiliários, incorporadores e construtores, que tenham submetido seus projetos e documentos à Plataforma. Nosso serviços podem ser caracterizados como “Crowdfunding”, “Investimento Coletivo”, “Investimento Colaborativo”, entre outros termos similares.</p>
  <p>Este termo de uso é válido para todos os usuários e visitantes do website.</p>
</div>
<div class="ui vertical segment">
<p><strong>1. Processo de Registro</strong></p>
  <p>Pessoas Físicas e Jurídicas podem realizar o registro na Plataforma. Pessoas físicas

devem ser maiores de 18 anos e ter registro no C.P.F.

Pode ser exigido que os usuários enviem documentos que provem sua identidade e

informações enviadas. O envio de informações falsas poderá acarretar consequências

jurídicas.</p>
<p>

Você é responsável pela falha em manter a confidencialidade de suas credenciais (email e

senha) para acesso ao website. Caso suspeite de que sua conta foi utilizada por outra

pessoa, nos notifique imediatamente.
  </p>

</div>
<div class="ui vertical segment">
  <p><strong>2. Conteúdo e uso do website</strong></p>

  <p>Usuários do website não podem modificar, copier, distribuir, transmitir, reproduzir, publicar

e criar trabalhos derivados do conteúdo deste website.

Não é permitido o uso de robôs (“spiders”) ou códigos para capturar dados de forma

automátizada do website, exceto para mecanismos de busca na internet.</p>

<p>Antes de investir em qualquer da Ofertas disponibilizadas na Plataforma, é necessário que o

Investidor assine o Termo de Prevenção à Lavagem de Dinheiro, o qual será disponibilizado

para assinatura eletrônica após a reserva e subscrição do investimento e antes da liquidação

do investimento subscrito.
  </p>
</div>
<div class="ui vertical segment">
  <p><strong>3. Notificações e Comunicação</strong></p>

  <p>Para propósito de comunicação e notificação com você, o e-mail será o instrumento oficial.

Você aceita que podemos nos comunicar também por outros meios como, por exemplo,

telefone, mensagens SMS ou por correspondência. </p>
<p>
Você concorda que falhas de

comunicação ou notificação associadas a erros de preenchimento de formulários,

informação imprecisa ou falha dos seus serviços de comunicação não são

responsabilidade da Plataforma. Você pode entrar em contato conosco através de nosso

e-mail contato@imobank.com.br.
  </p>

</div>
<div class="ui vertical segment">
  <p><strong>4. Projetos de Investimento</strong></p>

<p> As oportunidades de investimento são cadastradas na plataforma como “Projetos” ou

“Empreendimento”, e a oferta pública é realizada sem registro de oferta na CVM

(Comissão de Valores Mobiliários) e sem a elaboração de prospecto, sendo

automaticamente dispensada de registro junto à CVM. </p>
<p>

O empreendedor (“Construtor”) deve seguir todos os requisitos previsto na legislação em

vigor e seguir o procedimento determinado pela plataforma para poder fazer a captação

neste website.</p>
<p>

O responsável pela oferta de investimento é exclusivamente o Empreendedor que está

captando recursos. A função da Plataforma é disponibilizar e organizar o procedimento de

captação.
</p>
<p>Toda informação e documentos relativos à oferta e ao projeto disponibilizados na

Plataforma são de responsabilidade do Empreendedor. </p>
<p>

Os prazos e cronograma de serão relacionados na descrição de cada oferta. 

Não sendo realizada a transferência bancária no prazo de 48 horas após o pedido de

reserva do investimento, a reserva será automaticamente cancelada.</p>
</div>
<div class="ui vertical segment">
  <p><strong>5. Remuneração da Plataforma</strong></p>
<p>
  A remuneração pelos serviços de organização da captação financeira realizadas pela

Plataforma serão pagos pela Empresa que realiza a captação, de acordo com o contrato

entre as partes.</p>
</div>
<div class="ui vertical segment">
  <p><strong>6. Responsabilidades da Plataforma</strong></p>
<p>
  O Imobank não garante rentabilidade e retorno do investimento, assim como a gestão

eficaz do Empreendedor. Logo, a Plataforma, seus sócios e colaboradores não terão

responsabilidade por eventuais perdas e danos decorrentes do relacionamento e do

contrato entre investidores e empreendedores.</p>
</div>

<div class="ui vertical segment">
  <p><strong>7. Lei Aplicável e Jurisdição</strong></p>
  <p>
Este Termos de Uso é regidos pela legislação brasileira, sendo eleito o Foro da Comarca de

São Paulo, no Estado de São Paulo para dirimir qualquer litígio.</p>
</div>


<br>
<p>Para mais informações relacionadas a estes Termos de Uso, ou para relatar um problma

no website, por favor entre em contato pelo e-mail contato@imobank.com.br.</p>
<br>

