<h1>Terms of Service</h1>
<br>
<strong>Updated December 2, 2015</strong>
<br>
<div class="ui vertical segment">
<h2>Table of Contents:</h2>
<span>1. Registration Process</span></br>
<span>2. Content</span></br>
<span>3. Your Right to Use our Website</span></br>
<span>4. Use of Website</span></p></br>
<span>5. Patchofland.com Intellectual Property</span></br>
6. Confidentiality
7. Monitoring
8. Links to Other Sites
9. Limited Express Warranty; Disclaimer of Other Warranties
10. Limitation of Liability and Remedies
11. Indemnification
12. Digital Millennium Copyright Act
13. Termination
14. Notifications and Communications
15. Reports and Complaints
16. Disputes
17. Other Agreements
<br>
</div>
<div class="ui vertical segment">
<p>
We reserve the right, in our sole discretion, to change these Terms of Use ("Updated Terms") from time to time. Unless we make a change for legal or administrative reasons, we will provide reasonable advance notice before the Updated Terms become effective. You agree that we may notify you of the Updated Terms by posting them on the Service, and that your use of the Service after the effective date of the Updated Terms (or engaging in such other conduct as we may reasonably specify) constitutes your agreement to the Updated Terms. Therefore, you should review these Terms of Use and any Updated Terms before using the Service. The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Service from that point forward. These Terms of Use will govern any disputes arising before the effective date of the Updated Terms.

YOU HAVE FULLY READ AND HEREBY AGREE TO THE ARBITRATION AND CLASS ACTION PROVISIONS CONTAINED WITHIN THIS AGREEMENT, PLEASE BE AWARE THAT SUCH PROVISIONS MAY AFFECT YOUR LEGAL RIGHTS

Patchofland.com is a website (the “Website”) which serves to facilitate investments by Accredited Investors in real estate projects (the “Service” or “Services”). Patchofland.com is owned and operated by Patch of Land, Inc. (“Patch of Land,” “we,” “us,” or “our”). The Website includes all information, text, visual images, software, products and services used or available through the Website. The Website is intended to be used only for lawful purposes. These Terms of Use (the “Terms”) govern your use of the Website, the Services offered through the Website, submissions of content you make to the Website in whatever form (“Content”) and your use of Content submitted by other Users.

We have created relationships with property developers who have acquired property and are seeking investors to invest in the development of the property. Users of our Website who meet certain financial requirements (“Investors”) may register an account and participate in Investor-only discussions and online meetings and utilize group investing and portfolio comparison tools. Investors who wish to invest in real estate projects (“Project”) presented on our Website must qualify as Accredited Investors. Our Services may be characterized as “crowdfunding” or “crowd-sourcing.” Our Privacy Policy governs our treatment of information you provide to us on the Website. Our Terms and Privacy Policy apply to any visitor to or user of (collectively “Users”) our Website. Please read the Terms and the Privacy Policy carefully. By visiting or using the Website, you agree to be bound by these Terms. Please do not use our Website if you do not agree to the Terms and Privacy Policy. During the registration process to obtain a password, you will be asked to check a box confirming that you have read these Terms and agree to be bound by them. From time to time, we may revise these Terms. Any such revised Terms will be posted on the Website and will be effective immediately upon posting. By continuing to use the Website following the posting of revised Terms, you agree to be bound by the revised Terms. If at any time you do not agree to any revised Terms, you should immediately stop using the Website.
</p>
</div>
<div class="ui vertical segment">
<p><strong>1. Registration Process</strong></p>

<p>You are eligible to register to become an Investor on our Website if you are a natural person over the age of 18. In the registration process, Investors will provide their contact information, financial information and identity verification information and date of birth (“Registration Information”). An Investor who wishes to invest in Projects presented on the Website must qualify as an Accredited Investor. An Accredited Investor is an Investor who has indicated, and we have made efforts to confirm, he or she has a net worth (individually or jointly) of at least $1,000,000 excluding the value of his or her primary residence or has individual income of at least $200,000 or has joint income of at least $300,000 for the past two years and reasonably expects to reach the same income level this year. To qualify to invest in Projects presented on our Website, you must be an Accredited Investor and provide identity verification information and Investor financial information described below.

Identity Verification Information. Each Investor must provide information designed to verify his or her identity. Such information may include (i) information from a successfully completed electronic check transaction, (ii) a credit report, (iii) tax documents or (iv) other similar information designed to authenticate and confirm your identity and status as an Accredited Investor.

Investor Financial Information. Each Investor must also provide Form W-9 Information, Specific-Qualifications Information and Payment Information (collectively the "Investor Financial Information").

Form W-9 Information. For tax purposes, each Investor must provide a completed Internal Revenue Service Form W-9 which includes your Social Security Number (or Taxpayer Identification Number, where applicable).

Specific-Qualifications Information. Investors must also provide other information sufficient to meet regulatory "suitability" requirements for investing in a Project presented on our Website, in part by way of our Investor Qualifying Questions. Depending on the nature of the offering, this information will include: (i) information concerning an Investor's net worth and income; (ii) information concerning his or her residency; and (iii) other information we might request to determine whether an Investor qualifies for a particular investment. Verification of Accredited Investor Status. We are required to verify the Accredited Investor status of Investors who invest in Projects presented on our Website. In addition to the questionnaires required to be submitted by Investors, you agree that we may collect additional information to fulfill our responsibility to verify your Accredited Investor status. The means we may use to verify your Accredited Investor status include without limitation: publicly available information filed with a federal, state or local regulatory body, third-party information including Forms W-2, Forms 1099, Schedule K-1 of Form 1065, filed Forms 1040, information disclosed in industry or trade publications, written confirmations from broker-dealers, licensed attorneys or certified public accountants, banking statements, brokerage statements, credit reports, certificates of deposit, tax assessments or appraisal reports issued by independent third parties. In the registration process, you will obtain a user name and password. You are responsible for maintaining the security and confidentiality of your user name and password. You are liable for any charges, damages or losses incurred by you or us as a result of your failure to maintain the confidentiality of your user name or password. If you suspect any unauthorized use of your user name or password, you should notify us immediately.
</p>
    
</div>
<div class="ui vertical segment">
<p><strong>2. Content</strong></p>

<p>Investors may submit Content to the Website and participate in Investor-only discussions and online meetings and utilize group investing and portfolio comparison tools. Content submitted by Investors in the Website must be posted under such Investor’s legal name. By submitting any Content to the Website, you grant to us and to all other Investors a royalty-free, perpetual, irrevocable, non-exclusive, fully paid and transferable right and license to use, reproduce, modify, adapt, publish, distribute, translate, communicate to the public, create derivative works from, perform and display such Content worldwide or to incorporate the Content into any other works in any form or media without restriction or compensation and to grant and authorize sublicenses thereof. Any Content you contribute to the Website becomes public upon your submission of the information. Content posted in the public areas of the Website may be accessed by everyone on the Internet including Users who are not Investors and may appear in public search results. You can control the visibility of the Content you post by managing your privacy settings. You can also restrict the information available to others by deleting information you do not want visible or by not providing it at all. Our Privacy Policy does not protect information which you disclose on the Website. We can offer no assurance that others who access Content will not misuse the Content you post. We may not preserve or return Content which you submit. You should, therefore, maintain copies of any Content you submit.
</p>
</div>
<div class="ui vertical segment">
<p><strong>3. Your Right to Use our Website</strong></p>

<p>Subject to compliance with these Terms and the obligations hereunder, Users have a limited, non-exclusive, non-transferable, non-assignable, non-sublicenseable and revocable license to access and use the publicly available areas of our Website through a generally available web browser only for its intended purpose. Subject to compliance with the Terms and the obligations hereunder, Investors have a limited, non-exclusive, non-transferable, non-assignable, non-sublicenseable and revocable license to access and use the password-protected areas of our Website through a generally available web browser only for its intended purpose. Subject to compliance with these Terms and the obligation hereunder, Investors have a worldwide, royalty-free, non-transferable license to refer to or provide a link to the publicly available areas of our Website if such links are provided for the purpose of furthering the purpose of our Website. Investors are not entitled to create links to Content submitted by other Investors. Except as specifically permitted, you may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer or sell any Content or any information included on our Website.
</p>
    
</div>
<div class="ui vertical segment">
<p><strong>4. Use of Website</strong></p>

In connection with your use of our Website or the Service, you may provide Content and interact with other Investors. As a condition to your use of our Website or the Service, you agree that you will not:

Upload, post, transmit or otherwise make available Content that is unlawful, libelous, intentionally false, abusive, obscene, unlawfully threatening, unlawfully harassing, discriminatory or otherwise objectionable;
Collect, use or transfer any personal, private or confidential information about another person obtained from our Website except as expressly permitted by the owner of the information;
Infringe any third party’s intellectual property, trade secret or proprietary rights.
Transmit Content that contains software viruses, worms or any other computer code that interrupt, destroy or limit the functionality of the Website or obtain unauthorized information.
Engage in any action that directly or indirectly interferes with the proper working of or places an unreasonable or disproportionately large load on our infrastructure.
Use data mining, robots or similar data gathering or extraction methods.
Use the Website for any unlawful or improper purpose.
Either directly or indirectly, on your own behalf or in the service or on behalf of others, solicit, poach, cold call or attempt to solicit, poach, cold call, divert, entice, induce or remove any person or entity found on or through this website or any customer of Patch of Land for any purpose, including the purpose of engaging in competition with Patch of Land.

In connection with use of the Website and the Service, each Investor represents and warrants that he or she:

Has carefully reviewed and understands and agrees to these Terms and the Privacy Policy and has full power and authority to be bound by the Terms and the Privacy Policy.

Has provided complete and accurate Registration Information and will update the Registration Information to maintain its accuracy.

Has had an opportunity to seek legal and financial advice with respect to participation in investment-related services and the Website.

Hold all rights in the Content you submit sufficient to grant licenses and rights to its use as provided herein.
</div>
<div class="ui vertical segment">
<p><strong>5. Patchofland.com Intellectual Property</strong></p>

All of the design, text and graphics of our Website as well as the selection and arrangement thereof, are copyrighted 2013 Patch of Land, Inc., all rights reserved. Patch of Land, Patchofland.com and the design elements of such work constitute our trademarks. The Website images and text and all page headers, graphics HTML based computer programs used to generate pages on the Website and icons are our trademarks, service marks and/or trade dress and may not be used without our prior written permission (“Patch of Land IP”). All uses thereof inure to our benefit. All other trademarks, product names and company names or logos included on the Website are the property of their respective owners. You may not modify, copy, reproduce, republish, upload, post, transmit or distribute any material, including code and software, from our Website except as expressly set forth herein. Any unauthorized or unapproved use constitutes copyright and/or trademark infringement.

You may not use the Website or any portion thereof to create or recreate a similar or competing service. Any use of the Content of this Website not expressly permitted by these Terms or granted by our prior written permission is a breach of these Terms and is strictly prohibited.
</div>
<div class="ui vertical segment">
<p><strong>6. Confidentiality</strong></p>

The Patch of Land IP contains confidential and sensitive trade secrets of Patch of Land. We do not permit you to disclose this information to anyone other than another Investor, and we do not permit you, or other Investors, from using this information for any purposes other than those that consist of participating in our Services, as provided herein.

A. Confidential Information. Confidential Information under these Terms consists of all non-public information whether oral or in writing (a) that is designated as "Confidential" or "Proprietary" by Patch of Land at the time of disclosure or within a reasonable period thereafter; (b) that is only available to Investors, or (c) that you should reasonably understand is confidential (collectively, “Patch of Land Confidential Information”). Confidential Information includes non-public information that Patch of Land or its affiliates furnish or otherwise make available to Investors with respect to the offering documents, together with any reports, analyses, compilations, forecasts, memoranda, notes, studies and any other written or electronic materials prepared by Patch of Land, or for Investors. Confidential Information includes, without limitation, information relating to Patch of Land services, the marketing or promotion of any service, business policies or practices, strategic plans, pricing, lease rates, plans, renderings, pro-formas, loan agreements, purchase and sale agreements, leases, market comparables, tenant information, sales per square foot, vendor names, customer lists, management systems, and information received from others that Patch of Land is obligated to treat as confidential.

B. Non-disclosure. You shall retain Patch of Land Confidential Information in confidence, and shall not use such Patch of Land Confidential Information except as expressly permitted herein. You agree to use at least the same degree of care in safeguarding Patch of Land Confidential Information as you use in safeguarding your own confidential information and trade secrets, but shall use not less than reasonable care and diligence.

C. Exceptions. Your obligation of non-disclosure of Patch of Land Confidential Information under these Terms will not apply to Patch of Land Confidential Information which you can demonstrate: (i) is or becomes a matter of public knowledge through no fault of your own; (ii) was or becomes available to you on a non-confidential basis from a third party, provided that such third party is not bound by an obligation of confidentiality to Patch of Land with respect to such Patch of Land Confidential Information; (iii) was independently developed by you without reference to the Patch of Land Confidential Information; or (iv) is required to be disclosed by law, provided that you promptly notify Patch of Land in order to provide Patch of Land an opportunity to seek a protective order or other relief with respect to such impending disclosure.

D. Reservation of Rights. The Patch of Land IP is protected by U.S. and international copyright and other intellectual property laws, and Patch of Land retains all rights with respect to the Content, the Website, and the Services, except those expressly granted to you. You agree not to duplicate, publish, display, distribute, modify, create derivative works from, or exploit in any way the Patch of Land IP or any tangible embodiments of the Patch of Land IP, except as expressly permitted herein.
</div>
<div class="ui vertical segment">
<p><strong>7. Monitoring</strong></p>

We are under no obligation to monitor the information residing or transmitted through our Website. However, you agree that we may monitor Content on our Website (a) to comply with applicable laws, regulations or other government requests; (b) to operate our Website properly or to protect us and/or Users; and (c) for such other purposes as we deem reasonably necessary or appropriate from time to time. We reserve the right to modify, reject or eliminate any information residing on or transmitted through our Website that we believe is unacceptable or in violation of these Terms.
</div>
<div class="ui vertical segment">
<p><strong>8. Links to Other Sites</strong></p>

Our Website may contain hyperlinks or other connections to websites operated by persons or entities other than us. We do not control those websites and are not responsible for them, their availability, content or any viruses that may be accessed through them. Our inclusion of hyperlinks or other connections to such websites does not imply any endorsement of the material on them or any association with their owners or operators. Your use of the Website to link to another site is at your own risk.
</div>
<div class="ui vertical segment">
9. Limited Express Warranty; Disclaimer of Other Warranties

Subject to the limitation of liability set forth below, we warrant to Investors that we will use commercially reasonable efforts to (a) transmit offering documents and Investor financial information in a good, workmanlike and professional manner and (b) safeguard Personally Identifiable Information as provided in the Privacy Policy. OTHER THAN THE EXPRESS LIMITED WARRANTY SET OUT ABOVE, WE DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OF THIRD-PARTIES’ RIGHTS, TITLE, AND/OR WARRANTIES ARISING BY COURSE OF DEALING OR CUSTOM OF TRADE WITH RESPECT TO THE WEBSITE OR INFORMATION PROVIDED THEREIN. WE MAKE NO REPRESENTATIONS OR WARRANTIES REGARDING THE (1) ACCURACY, COMPLETENESS, CONTEMPORANEOUSNESS OR TIMELINESS OF OUR WEBSITE, (2) THE QUALITY AND SECURITY OF OUR WEBSITE, OR (3) THE INABILITY TO ACCESS OUR WEBSITE OR ITS CONTENT, INCLUDING WHETHER OUR WEBSITE WILL BE FREE OF VIRUSES, UNAUTHORIZED CODE OR OTHER HARMFUL COMPONENTS. YOU ARE RESPONSIBLE FOR TAKING ALL PRECAUTIONS YOU BELIEVE NECESSARY OR ADVISABLE TO PROTECT YOURSELF AGAINST ANY CLAIM, DAMAGE, LOSS OR HAZARD THAT MAY ARISE BY VIRTUE OF YOUR USE OF OUR WEBSITE. WHEN USING OUR WEBSITE, INFORMATION WILL BE TRANSMITTED OVER THE INTERNET, A MEDIUM THAT IS BEYOND OUR CONTROL AND JURISDICTION. ACCORDINGLY, WE ASSUME NO LIABILITY FOR OR RELATING TO THE DELAY, FAILURE, INTERRUPTION, OR CORRUPTION OF ANY DATA OR OTHER INFORMATION TRANSMITTED IN CONNECTION WITH YOUR USE OF OUR WEBSITE, AND YOU ASSUME THE ENTIRE COST OF ALL NECESSARY MAINTENANCE, REPAIR OR CORRECTION. YOU SHALL HAVE ABSOLUTELY NO RECOURSE AGAINST US FOR ANY ALLEGED OR ACTUAL INFRINGEMENT OF ANY PROPRIETARY RIGHTS YOU MAY HAVE IN ANYTHING YOU POST ON OUR WEBSITE. ANY MATERIAL DESCRIBED OR USED ON OUR WEBSITE MAY BE SUBJECT TO INTELLECTUAL PROPERTY RIGHTS OWNED BY THIRD PARTIES WHO HAVE LICENSED SUCH MATERIAL TO US. WE MAKE NO WARRANTIES WHATSOEVER AS TO THE ACCURACY, CONTENT, COMPLETENESS OR LEGALITY OF INFORMATION AVAILABLE ON THE WEBSITE OR IN OFFERING DOCUMENTS. WE DO NOT HAVE ANY OBLIGATION TO VERIFY THE IDENTITY OF USERS OF OUR WEBSITE, AND WE HAVE NO OBLIGATION TO MONITOR THE USE OF OUR WEBSITE BY OTHER USERS. THEREFORE, WE DISCLAIM ALL LIABILITY FOR IDENTITY THEFT OR ANY OTHER MISUSE OF YOUR IDENTITY OR INFORMATION.
</div>
<div class="ui vertical segment">
10. Limitation Of Liability and Remedies

YOU AGREE THAT WE WILL NOT BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES SUFFERED AS A RESULT OF ACCESSING, USING, PRINTING, COPYING OR DOWNLOADING ANYTHING FROM OUR WEBSITE. YOU FURTHER AGREE THAT WE SHALL NOT BE LIABLE FOR ANY LOSS OR INJURY CAUSED IN WHOLE OR IN PART BY RELYING UPON, USING, OR INTERPRETING OUR WEBSITE. IN NO EVENT SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, EXEMPLARY, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OUR WEBSITE OR WITH THE DELAY OR INABILITY TO USE IT (OR ANY LINKED SITES), OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS AND SERVICES OBTAINED THROUGH OUR WEBSITE, OR OTHERWISE ARISING OUT OF THE USE OF OUR WEBSITE, OR ON ANY OTHER BASIS (WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE), EVEN IF WE, OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR CUMULATIVE LIABILITY FOR ANY LOSS OR DAMAGES RESULTING FROM ANY CLAIMS, DEMANDS, OR ACTIONS ARISING OUT OF OR RELATING TO THE WEBSITE (WHETHER ARISING IN TORT, CONTRACT, BREACH OF WARRANTY OR OTHERWISE) OR UNDER THESE TERMS OF USE SHALL NOT EXCEED ONE HUNDRED DOLLARS ($100.00). BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CERTAIN DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. Any claims made by you in connection with your use of our Website, or its Content, must be brought within one (1) year after the cause of action accrues. Otherwise, such cause of action shall be barred.

Patch of Land shall have the right, in addition to other remedies provided by applicable law including consequential and liquidated damages, to apply to a court of competent jurisdiction for the entry of an immediate order to restrain or enjoin said breach and to specifically enforce the provisions of this Agreement.
</div>
<div class="ui vertical segment">
11. Indemnification

You agree to defend, indemnify and hold us, our officers, directors, employees, members, agents, and affiliates harmless from and against all claims, charges, investigations, actions or demands, liabilities and settlements, including without limitation our losses, costs, damages and reasonable legal and accounting fees , resulting from, or alleged to result from: (a) your breach of these Terms; (b) any Content or other material you provide to our Website, (c) your use of our Website's Content, (d) your violation of any applicable law, regulation, rule or order pertaining to your use of our Website; (e) your unauthorized or unlawful use of our Website; (f) any activity in which you engage in or through our Website; or (g) the unauthorized or unlawful use of our Website by any other person using your user name and password.
</div>
<div class="ui vertical segment">
12. Digital Millennium Copyright Act

If you are a copyright owner or an agent thereof and believe that any Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail): A. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; B. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works; C. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit us to locate the material; D. Your address, telephone number, and email address; E. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and F. A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Our designated Copyright Agent to receive notifications of claimed infringement is Bart Loethen; email: bart@synergylawgroup.com; fax: 312.454.0261. You acknowledge that if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid.
</div>
<div class="ui vertical segment">
13. Termination

A. You may terminate your account with us for any reason or no reason, at any time, upon notice to us. Your termination notice will be effective upon our processing the notice. We may terminate your account with us for any reason or no reason, at any time, with or without notice. A termination by us will be effective immediately or as may be specified in any notice from us. Termination of your account with us includes disabling your access to our Website and may also bar you from any future use of our Website. B. We may immediately restrict, suspend or terminate your account if you abuse or misuse our Website or engage in any behavior that we, in our sole discretion, deem contrary to the purpose of the Website. If you violate any of the Terms, we may immediately terminate your limited license to use our Website. C. Upon the termination of your account with us, you lose access to our Website. In addition, we may block access to our Website from an IP address or range of IP addresses associated with those of terminated Users.
</div>
<div class="ui vertical segment">
14. Notifications and Communications

For purposes of communicating with you regarding the Website, notice shall consist of an email from us to an email address associated with your account. You also agree that we may communicate with you through other means including email, cellular telephone, telephone or delivery services including the U.S. Postal Service about your Website registration or Services through the Website. You agree that we shall have no liability associated with or arising from your failure to maintain accurate contact information.

You may contact us via email at: legal@patchofland.com or via U.S. mail or courier at:

Patch of Land, Inc.
1964 Westwood Blvd.
Suite 350
Los Angeles, CA 90025
</div>
<div class="ui vertical segment">
15. Reports and Complaints

If you believe that a User has acted inappropriately, such as by violating these Terms, you may report your concerns either via the links we have included on the Website, or by contacting us by the means described above. If we are notified by a User that he or she believes that certain Content at the Website is in violation of these Terms, we may investigate the allegation and determine in good faith, in our sole discretion, whether to remove or block access to such Content, or to take action with respect to person or persons responsible for posting the Content. We have the right (but not the obligation), in our sole discretion, to remove, relocate, or otherwise block or restrict any Content, with or without notice, and without liability.
</div>
<div class="ui vertical segment">
16. Disputes

You are solely responsible for your interaction with other Users that involve or arise from your relationship to the Website. Although we may monitor claims that involve you and other Users, we have no obligation to become involved. If you become involved in such a dispute, and our provision of Services is an insubstantial factor (or no factor) in creating this dispute, then you release us from claims, demands, and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or connected with such dispute.

Agreement for Binding Arbitration. We do not anticipate having any disagreements with you, the user, regarding usage of this Site. But if any concerns about these matters arise, please notify us immediately. We would endeavor to resolve any disagreements in a fair and amicable manner. If it is not possible to resolve the disputes ourselves, then each party hereby agrees that all disputes or claims between you and the Company of any nature whatsoever, including but not limited to those relating to use of the Website or the quality or appropriateness of services offered by the Website shall be resolved by binding arbitration. The Company chooses arbitration because it is usually less expensive and quicker than litigation and will allow us to resolve our disputes privately.

You agree that, by entering into this Agreement, you and Patch of Land are each waiving the right to a trial by jury or to participate in a class action. This Agreement evidences a transaction in interstate commerce, and thus the Federal Arbitration Act governs the interpretation and enforcement of this provision. This arbitration provision shall survive termination of this Agreement. YOU AND PATCH OF LAND AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless both you and the Company agree otherwise, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative or class proceeding. The arbitration shall be conducted by the Judicial Arbitration and Mediation Services ("JAMS"). The arbitrator must decide all disputes in accordance with the chosen association’s rules and in accordance with California law, and shall have power and obligation to decide all matters submitted, including arbitrability and legal questions raised by pleading or summary judgment motions. In the event that any dispute or claim is determined not subject to arbitration by the arbitrator, all parties agree that their respective rights and obligations shall be governed by the laws of the State of California, excluding its choice of law rules. Furthermore, in the event that any dispute or claim is determined not subject to arbitration by the arbitrator, all parties agree that any and all legal action or proceedings shall be instituted in a state or federal court in California, and in the County of Los Angeles.

Users understand that they are free to consult with other counsel about the wisdom of agreeing to arbitration or to any other term of this agreement before accepting it, and User agrees that by using this Website, it is voluntarily accepting this agreement.
</div>
<div class="ui vertical segment">
17. Other Agreements

These Terms constitute the entire agreement between us and you with respect to the subject matter of these Terms and supersede all previous and contemporaneous agreements, proposals and communications between us, written or oral, or whether established by custom, practice, policy or precedent. You agree that no joint venture, partnership, employment or agency relationship exists between you and us or other Users as a result of these Terms or your use of our Website. We may assign these Terms, in whole or in part, in our sole discretion. You may not assign your rights or obligations under these Terms without our prior express written permission. Any attempt by you to assign your rights or obligations under these Terms without our permission shall be void. If any provision of these Terms is found to be invalid by any court having jurisdiction to make such a determination, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms, which shall remain in full force and effect. No waiver of any of these Terms shall be deemed a further or continuing waiver of such term or condition or any other term or condition. Our failure to act with respect to a breach of these Terms does not waive our right to act with respect to that breach or subsequent breaches. Except as expressly and specifically contemplated by these Terms, no representations, statements, consents, waivers or other acts or omissions by us shall be deemed legally binding on us, unless documented in a physical writing hand signed by one of our duly appointed officers. We are based in Cook County, Illinois in the United States of America. We make no representation that our Website is appropriate or may legally be viewed in the nation, state, province or other jurisdiction in which you reside, do business, or are incorporated or organized. Access to the Website is prohibited from jurisdictions where the Website, or its Content, is illegal. You agree that these Terms, as well as any suit, action or proceeding arising out of or in connection with any dispute with us, including without limitation any claim involving us or our affiliates, subsidiaries, employees, members, officers, directors, and agents, shall be governed by and construed in accordance with the laws of the State of Illinois in all matters, without regard to its provisions regarding conflicts of law and the United Nations Convention for the International Sale of Goods. Jurisdiction for any claims arising under this agreement shall lie exclusively with the state or federal courts within Los Angeles, California.
</div>
<br>
<p>For further information relating to these Terms, or to report a problem regarding the Website, please contact support@patchofland.com.</p>
<br>
<p><strong>Questions</strong></p>

Please visit our FAQ page for more information; you may also contact us via email at info@realtymogul.com.