    #detalhes-button {
        display: block;
    }
    #projects_empty {
        background-image: url('dollar-sign-of-people.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 18rem;
        margin-bottom: 0rem;
        margin-top: -2rem;
    }
    #projects_empty_title {
        padding-bottom: 15rem;
        padding-top: 15rem;
    }
